@media (max-width: 767px) {
    .header {
        &__divider {
            display: none;
        }
    }

    .menu {
        position: fixed;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        top:0;
        left:-100%;
        width: 100%;
        height: 75vh;
        padding: 0;
        background-color: rgba(255,255,255, 0.95);
        margin: 0;
        transition: 0.6s all;
        &_active {
            left:0;
        }
        &__item {
            margin-left: 24px;
        }

        &__link {
            font-size: 34px;
        }
    }

    .c-hamburger {
        position: fixed;
        display: block;
    }

    .introduce {
        &__wrapper {
            flex-direction: column;
            align-items: flex-start;
            margin-left: 26px;
        }
        &__lang {
            display: none;
        }
        }

    .skills {
        &__subtitle {
            margin-top: 40px;
        }
        &__wrapper {
            flex-direction: column;
            margin-top: 50px;
        }

        &__item {
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

}
